.containerNavbar{
    width: 100%;
    background-color:black;
}
.containerNavbar img{
    height: 150px;
}
.link-home{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    bottom: 15px;
}