.containerHome{
    height: auto;
    background-color: #788475;
}
.link-profile{
    color: #00ff91;
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    top: 130px;
    left: 120px;
}