body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #F7FFDD;
  overflow: auto;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 1 0;
}